<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Gallery.RequireSSL" value="true"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Gallery.Environment" value="Production"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Gallery.SiteRoot" value="https://nuget.monkapps.com"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Gallery.GalleryOwner" value="MediaMonks NuGet Gallery &lt;no-reply@nuget.monkapps.com&gt;" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Gallery.ConfirmEmailAddresses" value="true"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Gallery.SmtpUri" value="smtp://:@localhost:25" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="Gallery.SqlServer" connectionString="Data Source=NUGET\SQLEXPRESS;Initial Catalog=NuGetGallery;Integrated Security=SSPI;User ID=nugetgallery;Password=12qwaszx" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web xdt:Transform="RemoveAttributes(debug)">
    <customErrors mode="RemoteOnly" defaultRedirect="~/Errors/error.html" xdt:Transform="SetAttributes(mode)" />
  </system.web>
    <entityFramework>
    <defaultConnectionFactory>
      <parameters>
        <parameter value="NUGET\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" xdt:Transform="SetAttributes(value)" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>