@{
    ViewBag.Title = "Contact MediaMonks";
}
<article class="contact">
    <h2>
        Contact Us
    </h2>
    <p>
        How to get ahold of us.
    </p>

    <h3>HQ</h3>
    <p>
        
        HQ
        Schapenkamp 2
        1211PA Hilversum
        info@mediamonks.com
        +31 (0)35 621 21 50

    </p>

    <a href="http://www.meadiamonks.com" />
</article>